/** detail.html 리뷰 상세보기 페이지 CSS */
.detail_wrap {
    position: relative;
    display: flex;
    top: 200px;
    left: 0;
    width: 100%;
    height: fit-content;
  }
  
  .review_wrap {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  #food_img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    z-index: -1;
  }
  
  .review_info {
    position: relative;
    width: fit-content;
    height:150px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .review{
    width:400px;
    overflow-y: scroll;
  }
  
  /* 리뷰 항목 */
  .review_info > p {
    font-weight: bold;
  }
  
  /* 입력된 리뷰 */
  .review_info > p > span {
    font-weight: normal;
    overflow: auto;
  }
  
  /* 버튼 전체 */
  .review_button {
    padding-top: 20px;
    position: relative;
    display: flex;
    width: fit-content;
    z-index: 10;
  }
  
  /* 버튼 개별적 */
  .review_button > button {
    width: 120px;
    height: 50px;
    margin-left: 20px;
    font-weight: bold;
    border:none
  }
  
  .review_button > button:first-child {
    margin-left: 0px;
  }
  
  /* 지도 관련 전체 레이아웃 */
  .review_map_wrap {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  
  /* 지도 관련 CSS */
  #map {
    width: 400px;
    height: 300px;
    z-index: 10;
  }
  
  #wrap{
    min-height: 100%;
    position: relative;
  
  }
  
  footer{
    bottom: 0px;
    position: absolute;
    height: 10rem;
  }