/*-------------------전체에 적용할 것----------------------*/
#wrap{
  white-space: nowrap;
  overflow: auto;
}




/*--------------------헤더----------------------*/
/*----로고 + 검색창 + 로그인 + 회원가입-----*/

header {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 130px;
z-index: 100;
display: inline;
background-color: white;
}

header > .header_img{
width:130px;
height:80px;
margin-left: 90px;
margin-top: 20px;
margin-right: 40px;
display: inline-block;
}

/*---------------검색 부분---------------*/
header > .search{
position: fixed;
padding-top: 20px;
display: inline;
margin-top: 15px
}

/*------------검색창------------*/
header > .search > input {
position: fixed;
width: 700px;
height: 30px;
border: 1px solid #bbb;
border-radius: 30px;
padding: 10px 12px;
font-size: 15px;  /*검색창 높이 이걸로 조절함*/
display: inline;
}

/*------------돋보기------------*/
header > .search > img {
position : fixed;
width: 17px;
left: 900px;
margin: 0;
margin-top: 15px;
display: inline;
}

/*------------엔터 눌러도 검색하도록 하는 jquery 필요------------*/

header > p > a{
top: 10;
right: -25px;
display: inline;
}

/*------------로그인 및 회원가입------------*/
header > .links {
  margin-top: 20px;
  left: 1200px;
  position: fixed;
  top: 30px;
  right: 50px; /* 오른쪽 여백 조정 */
}

header > .links > a {
  margin-left: 0px;
}


/*--------------------내비게이션 바----------------------*/
nav {
position: absolute; /** 수정 위치 */
padding-top: 80px;
/*margin-left: 40%;*/
width: 100%;
height: 60px;
}



nav > .place {
  list-style: none;
  display: flex;
  background-color: #D9EFD7;
  position: fixed;  /*sub_place 사라지는거 방지*/
  left: 0;
  width: 100%;
  z-index: 100;
}

.place > li {
float: left;
width: 18%;
position: relative;
}

.place > li > a {
display: block;
height: 60px;
line-height: 60px;
font-size: 20px;
font-weight: 700;
transition: all 0.4s;
color: #000000;
text-align: center;
}

.sub_place {
position: absolute;
top: 100%;
left: 0;
width: 100%;
list-style: none;
display: none;
background-color: rgba(83, 182, 71, 0.22);
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
padding: 10px;
}



.sub_place > li {
margin-bottom: 10px;
}


.sub_place > li > a {
display: block;
height: 40px;
line-height: 20px;
font-size: 20px;
color: #0c3055;
font-weight: 700;
text-align: center;
transition: all 0.4s;
}



/*-----내비게이션 추가 내용-----*/
.place > li:hover .sub_place {
display: block;
}
/*--------------------내비게이션 바 font 속성----------------------*/
a:link{color:black; text-decoration:none;}
a:visited{color:black; text-decoration:none;}
a:hover{color:black; text-decoration:none;}
a:active{color:black; text-decoration:none;}