/** index */
#wrapper{
  height : 100%;
}

.food_list {
  box-sizing: border-box;

  position: absolute;
  width: 1214px;
  height: 166px;
  left: calc(50% - 1214px/2 - 7px);
  top: 284px;

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #82A47D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/** index에 표시될 항목 css */
.product {
  display: flex;
  float: left;
  top: 200px;
  width: 400px;
  position: relative;
  padding: 10px;
  z-index: -1;  /** 헤더에 가려져서 보이도록 음수로 지정 */
}

.thumbnail {
  max-width: 200px;
  width: 50%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.product_contents {
  padding-left: 20px;
}

.product .price {
  font-size: 16px;
  font-weight: 600;
}

.product .title {
  font-size: 17px;
  font-weight: 600;
}

.product .date {
  color: grey;
  font-size: 13px;
}

/** 항목 css 끝 */


/**리뷰 작성하기 버튼 css*/

.review_btn {
  top: 80%;
  left: 80%;
  position: fixed;
  border: 3px solid #519d9e;
  color: black;
  background-color: #FFFFFF;
  z-index: 1;
}

.review_btn_outline {
  padding: 15px 30px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.review_btn:hover {
  background-color: #77af9c;
  color: #d7fff1;
}

/** index css 끝 */
.detail-pic {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.chat-content {
  height: 450px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-content li {
  margin-top: 10px;
}

.text-small {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
}

.chat-box {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  float: left;
}

.mine {
  float: right;
}

/**리뷰*/

.review_form{
  position:absolute;
  background-color: #322F2F;
}

.container_review {
  box-sizing: border-box;
  position: absolute;
  width: 720px;
  height: auto;
  left: 500px;
  top: 250px;

  border: 3px solid #E5EEE4;
}

.review_title{
font-family: 'Inter';
font-weight: 400;
font-size: 30px;
font-style:unset;
text-align: center;
text-decoration: none;
color: #3F443F;
}
.container_review #review {
  height: 250px;
}

.container_review>text {
  width: 50px;
}

.upload_btn{
  position: absolute;
  width: auto;
  height: auto;
  left: 1130px;
  top: 800px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  
  color: rgba(255, 255, 255, 0.84);
}


/**회원 가입*/
.sign_up {
  position: absolute;
  top: 300px;
  left: 50px;
  width: 500px;
}

.sign_up>input {
  padding-top: 100px;
  background-color: rgb(82, 82, 48);
}

.sign_up_btn {
  margin-top: 10px;
  background-color: #322F2F;
  color: #FFFFFF;
}

/**로그인*/
.login {
  position: absolute;
  top: 500px;
  left: 50px;
  width: 500px;
}

/** 공지사항 notice.html css*/

.post_form{
  position: absolute;
  top : 300px;
  left: 500px;
  width: 984px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.post_head {
  background-color: #D9D9D9;
  text-align: center;
}

.post_body {
  text-align: center;
}
.pagination {
  position: absolute;
  top: 400px;
}

.pagination a {
  display: block;
  font-size: 14px;
  margin : 10px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}

/** 음식 추천 화면 css food_pick*/

#food_pick{
  position: absolute;
  width: 720px;
  height: 372px;
  left: 356px;
  top: 338px;
  
  background: #FFFFFF;
  border: 3px solid #E5EEE4;
  z-index: -1;
}

.food_pick_title{
  position: absolute;
width: auto;
height: 48px;
left: 395px;
top: 315px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #3F443F;

background-color: #FFFFFF;
}

#food{
  position: absolute;
width: 194px;
height: 63px;
left: 623px;
top: 493px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
text-align: center;

color: rgba(0, 0, 0, 0.34);
}