#useInformation {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#lookUpMethod {
    padding-top: 150px;
    padding-right: 150px;
    float: right;
}

#lookUpMethod .line {
    border-left: solid black;
    transform: scaleX(0.5);
    height: 770px;
    position: absolute;
}

#lookUpMethod h2 {
    padding-top: 10px;
}

/* #lookUpMethod h2,
h4,
img {
    padding-left: 20px;
} */

.method1 {
    width: 700px;
    height: 70px;
}

.method2 {
    width: 700px;
    height: 450px;
}

#menu {
    padding-top: 150px;
    padding-left: 150px;
}

#menu .line {
    border-left: solid black;
    transform: scaleX(0.5);
    height: 310px;
    position: absolute;
}

#menu h2 {
    padding-top: 10px;
}

#menu h2,
h4 {
    padding-left: 20px;
}

#question {
    padding-top: 10px;
    padding-left: 150px;
}

#question h2 {
    padding-top: 10px;
}

#question h2,
h4 {
    padding-left: 20px;
}

#question .line {
    border-left: solid black;
    transform: scaleX(0.5);
    height: 250px;
    position: absolute;
}